<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.PageObjects" version="3.11.0" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.PageObjects.Core" version="3.12.0" targetFramework="net472" />
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="PhantomJS" version="2.1.1" targetFramework="net472" />
  <package id="Selenium.Firefox.WebDriver" version="0.13.0" targetFramework="net472" />
  <package id="Selenium.Helper" version="1.0.1" targetFramework="net472" />
  <package id="Selenium.RC" version="3.1.0" targetFramework="net472" />
  <package id="Selenium.Support" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="3.141.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="94.0.4606.6100" targetFramework="net472" />
  <package id="Selenium.WebDriver.Extensions" version="3.3.0" targetFramework="net472" />
  <package id="Selenium.WebDriver.WaitExtensions" version="2.0.0" targetFramework="net472" />
  <package id="Selenium.WebDriverBackedSelenium" version="3.141.0" targetFramework="net472" />
</packages>